<!-- フッター（ナビゲーション） -->
<nav class="h-20 bg-slate-900 border-t border-slate-800 flex fixed bottom-0 w-full justify-around items-center">

  <!-- ドリル（ホーム） -->
  <%= link_to root_path,
      class: "flex flex-col items-center #{current_page?(root_path) ? 'text-indigo-400' : 'text-slate-500'}" do %>

    <div class="w-10 h-10 rounded-xl bg-slate-800 flex items-center justify-center mb-1
      <%= 'ring-2 ring-indigo-500' if current_page?(root_path) %>">

      <i class="fas fa-house text-xl
        <%= current_page?(root_path) ? 'text-indigo-400' : 'text-slate-500' %>"></i>
    </div>

    <span class="text-[10px] font-bold">ドリル</span>
  <% end %>

  <!-- 追加（作成） -->
  <%= link_to new_learning_path,
      class: "flex flex-col items-center #{current_page?(new_learning_path) ? 'text-indigo-400' : 'text-slate-500'}" do %>

    <div class="w-10 h-10 rounded-xl bg-slate-800 flex items-center justify-center mb-1
      <%= 'ring-2 ring-indigo-500' if current_page?(new_learning_path) %>">

      <i class="fas fa-circle-plus text-xl
        <%= current_page?(new_learning_path) ? 'text-indigo-400' : 'text-slate-500' %>"></i>
    </div>

    <span class="text-[10px] font-bold">追加</span>
  <% end %>

  <!-- マイページ -->
  <%= link_to user_path(current_user),
      class: "flex flex-col items-center #{current_page?(user_path(current_user)) ? 'text-indigo-400' : 'text-slate-500'}" do %>

    <div class="w-10 h-10 rounded-xl bg-slate-800 flex items-center justify-center mb-1
      <%= 'ring-2 ring-indigo-500' if current_page?(user_path(current_user)) %>">

      <i class="fas fa-user text-xl
        <%= current_page?(user_path(current_user)) ? 'text-indigo-400' : 'text-slate-500' %>"></i>
    </div>

    <span class="text-[10px] font-bold">マイページ</span>
  <% end %>

</nav>